
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>

{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

</head>
<body style="background-color: hwb(191 91% 0%);">
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'blogs:index' %}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-1 mt-1  mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'blogs:blogs_page' %}">Blogs</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        
                        <span class="  text-capitalize pe-3 fs-5 text-secondary " >
                            Hello, {{ user.username }}.
                        </span>
                    </li>
                     
                    {% else %}
                    <li class="nav-item">
                    <a href="{% url 'accounts:register' %}" class="nav-link">Register</a>
                   </li>
                    <li class="nav-item">
                    <a href="{% url 'accounts:login' %}" class="nav-link">Log In</a>
                  </li>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <li>
                    <form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button name="submit" class="btn btn-outline-secondary" type="submit">Logout</button>
                    </form> 
                  </li>
                  {% endif %}
            </ul>
            
          </div>
        </div>
      </nav>   
        <!-- <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div> -->
            {% block content  %} {% endblock content %}
</body>
</html>








