{% extends 'blogs/base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    <a class=" link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize" href="{% url 'blogs:new_blog' %}">
        Add a new Blog
      </a>
</div>
<div class="container-fluid mt-5 ">
    
<ul class="list-group ">
    {% for blog in all_blogs %}
    <li class=" list-group-item py-2">
        
            <div class="row justify-content-between my-2">
                <div class="col-2 text-start text-nowrap ">
                    <a class=" shadow-lg link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-capitalize" href="{% url 'blogs:blog_posts' blog.id %}">{{ blog.text }}</a>
                </div>
                <div class="col-2 ">
                    <a class=" icon-link icon-link-hover text-decoration-none text-capitalize " style="--bs-link-hover-color-rgb: 220,53,69 "  href="{% url 'blogs:delete_blog' blog.id  %}"  role="button" aria-disabled="true">delete</a>
                </div>

            </div>
        
    </li>
    {% endfor %}
</ul>




</div>

{% endblock content %}